{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block 'content' %}
<!-- Start Banner 
    ============================================= -->
    <div class="banner-area inc-video top-pad-50">
        
        <div id="bootcarousel" class="carousel text-light slide carousel-fade animate_text" data-ride="carousel">

            <!-- Indicators for slides -->
            <!--<div class="carousel-indicator">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="carousel-indicators right">
                                <li data-target="#bootcarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#bootcarousel" data-slide-to="1"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>-->

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item bg-cover active" style="background-image: url({% static 'img/promo.jpg' %}); background-position: left top !important;">
                    <div class="box-table">
                        <div class="box-cell shadow dark">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="content">
                                            <h2 data-animation="animated slideInRight">{% translate "Sağlık Profesyonelleri için <span>Almanya" %}</span></h2>
                                            <br>
                                            <h3><span>{% translate "Ücretsiz danışmanlık" %}</span></h3>
                                            <a data-animation="animated zoomInUp" class="btn btn-theme effect btn-md" {% if "candidate" in request.path %}href="{% url 'candidate_contact' %}"{% else %}href="{% url 'contact' %}"{% endif %}>{% translate "Bize Ulaşın" %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Shape -->
                        <!--<div class="shape-right-bottom"  data-animation="animated slideInUp" style="background-image: url(assets/img/shape/banner-right-shape.png);"></div>-->
                        <!-- Shape -->
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

        </div>
    </div>
    <!-- End Banner -->

    <!-- Star Features Area
    ============================================= -->
    <div class="features-area default-padding">
        <div class="container-full">
            <div class="features-content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="site-heading text-center">
                            <h4>{% translate "Başvuru" %}</h4>
                            <h2>{% translate "5 Adımda Almanya'da çalışmaya başlayın" %}</h2>
                            <div class="devider"></div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <i class="flaticon-label"></i>
                            <div class="top">
                                <span>01</span>
                                <h4>{% translate "Başvuru formunun iletilmesi ve Mülakat" %}</h4>
                            </div>
                            <p>
                                {% translate "Web sitemiz üzerinden başvuru formunu doldurun ve bizimle iletişim bilgilerinizi paylaşın. Ardından, sizinle mail veya telefon yolu ile iletişime geçen sorumlumuzun yönlendirmesiyle bir ön mülakat tarihi belirleyin. İnsan Kaynakları sorumlumuz ile yüz yüze veya video konferans yolu ile bir ön mülakat gerçekleştirin. " %}
                            </p>
                            <a href="{% url 'candidate_form' %}"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <i class="flaticon-file"></i>
                            <div class="top">
                                <span>02</span>
                                <h4>{% translate "Evrakların Teslimi, Çeviri ve Kontrol" %}</h4>
                            </div>
                            <p>
                                {% translate "İş veren ile ilk etkileşiminiz başlıyor! Mesleki geçmişinizi ve çalışma vizenizin Almaya’da işe başlamak için uygunluğunu kontrol ediyoruz. Bunun için, size iletmiş olduğumuz listede yer alan evrakları web sitemiz üzerinden veya mail yolu ile bize göndermeniz gerekiyor. Mesleki geçmişinizi kontrol edebilmek adına, sigorta dökümünüze ve geçmiş işyerinizden verilen bir referansa ihtiyaç duyuyoruz." %}    
                            </p>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <i class="flaticon-file"></i>
                            <div class="top">
                                <span>03</span>
                                <h4>{% translate "Özlük Dosyasının teslimi ve İş görüşmesi" %}</h4>
                            </div>
                            <p>
                                {% translate "Bütün evraklarınızı kontrol ettikten sonra ,sizinle olan görüşmelerimizin içeriğini Almanca bir rapor ve onaylanmış CV’niz ile birlikte işeren ile paylaşıyoruz. İş verenin ihtiyaçlarının karşılandığını düşünmesi durumunda sıradaki mülakata geçiyorsunuz! Bu aşamada görüşmeler video konferans yolu ile veya yüz yüze gerçekleşiyor." %}    
                            </p>
                            <p>
                                {% translate "Önemli Not: Almanca seviyenizin B2’nın altında olması durumunda görüşmede çevirmen hizmeti Türfa tarafından verilmektedir. " %}
                            </p>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <i class="flaticon-file"></i>
                            <div class="top">
                                <span>04</span>
                                <h4>{% translate "Adım Tanınırlık, Dil Eğitimi ve Vize Başvurusu" %}</h4>
                            </div>
                            <p>
                                {% translate "İşverenin sizinle çalışmak istemesi durumunda gerekli bütün bürokratik işlemleri yürütüyor ve gerekli olması durumunda ücretsiz, hızlandırılmış almanca dil ve entegrasyon kursları düzenliyoruz. Ayrıca, işverenin teklif etmemesi ve sizin ihtiyaç duymanız durumunda, Almanya´da bir konut bulmanıza yardımcı oluyor veya paylaşımlı ev öneriyoruz!" %}    
                            </p>
                            <p>
                                {% translate "Not: Konaklayacağınız yere dair kira kontratı vize için zorunlu bir evraktır." %}
                            </p>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <i class="flaticon-file"></i>
                            <div class="top">
                                <span>05</span>
                                <h4>{% translate "Destekleme ve Yönlendirme" %}</h4>
                            </div>
                            <p>
                                {% translate "Almanya’ya gelişiniz sonrası vizenizi oturum izni ile değiştirmenize yardımcı oluyor ve iş yerinizde sizi yönlendiriyor; dil bariyeri ve adaptasyon konularında sizi destekliyoruz!" %}    
                            </p>
                            <a href="{% url 'candidate_form' %}"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <!-- Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Area -->

    <!-- Star About Area
    ============================================= -->
    <div class="about-area bg-dark overflow-hidden text-light relative">
        <!-- Fixed Shape -->
        <div class="fixed-shape" style="background-image: url({% static 'img/shape/8.png' %});"></div>
        <!-- End Fixed Shape -->
        <div class="container">
            <div class="about-items">
                <div class="row">
                    <div class="col-lg-6 thumb order-lg-last" style="background-image: url({% static 'img/anasayfa-about.jpg' %});">
                        <div class="successr-ate">
                            <div class="icon">
                                <i class="flaticon-target"></i>
                            </div>
                            <div class="content text-center">
                                <span>{% translate "Doğru işi" %}</span>
                                <h3 class="mb-0">{% translate "bulmak" %}</h3>
                                <span>{% translate "bizim işimiz" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 info">
                        <h4>{% translate "Avantajlarımız" %}</h4>
                        <h2>{% translate "Neden Türfa’yı Tercih Etmelisiniz?" %}</h2>
                        {% comment %} <p>
                            {% translate "Bizimle çalışmak için öncelikle bizimle bir ön iş görüşme yapmanız gerekir. Bunun haricinde Aşağıdaki belge, yetkinliklere sahip olmalısınız:  " %}    
                        </p> {% endcomment %}
                        <ul>
                            <li>
                              <p>
                                <strong class="colorWhite">{% translate "Profesyonel Vize Danışmanlığı ve Mesleki tanınırlık hizmeti:" %}</strong>
                              </p>
                              <p>
                                {% translate "Mesleki Diploma: Tip, Hemşirelik, Ameliyathane Teknikerliği, Hasta Bakıcılık  " %}
                              </p>
                            </li>
                            <li>
                              <p>
                                <strong class="colorWhite">{% translate "Tam Kapsamlı Mesleki Eğitim ve Hazırlık: " %}</strong>
                              </p>
                              <p>
                                {% translate "Sizi gelecekteki mesleğinize hazırlıyoruz. Tıbbi Almanca kursları, meslek seminerleri ve entegrasyon kursları düzenliyoruz. Almanya’daki meslektaşlarınız ve gelecekte çalışma ihtimaliniz bulunan firmalar ile işe başlamanız için gerekli görüşmeleri organize ediyoruz. " %}
                              </p>
                            </li>
                            <li>
                                <p>
                                  <strong class="colorWhite">{% translate "Nitelikli Dil Eğitimi: " %}</strong>
                                </p>
                                <p>
                                  {% translate "Alanlarında son derece deneyimli Almanca öğretmenlerimiz, Telc veya Geothe Institut tarafından verilmiş sertifikalara sahiptir. " %}
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong class="colorWhite">{% translate "Online Takip ve Süreç yönetimi:" %}</strong>
                                </p>
                                <p>
                                    {% translate "İşlemleriniz esnasında tüm süreçleri web sitemiz üzerinden online olarak takip edebilir; gerekli belgeleri sisteme yükleyebilir, dilediğinizde görüntüleyebilir ve indirebilirsiniz. İşlemlerinizi bu şekilde yürütmek, sürecin sizin açınızdan daha sağlıklı, daha hızlı ve daha güvenli ilerlemesini sağlar! " %}
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong class="colorWhite">{% translate "Ulaşılabilirlik:" %}</strong>
                                </p>
                                <p>
                                    {% translate "Mesleki denklik süreciniz ve Dil Eğitiminiz boyunca uzman kadromuz ile yanınızda oluyor ve sizi ihtiyacınız olan tüm noktalarda destekliyoruz. " %}
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong class="colorWhite">{% translate "Deneyim:" %}</strong>
                                </p>
                                <p>
                                    {% translate "Yurtdışında yaşamaya ve çalışmaya başlamak herkes için karmaşık bir durumdur. Alman bürokrasisine ve yeni bir yaşam tarzına adapte olmak, başlangıçta sanıldığı kadar kolay olmayabilir. Deneyimli ekibimiz, önünüze çıkan zorlukların üstesinden gelmenizi sağlar ve vergi beyannamenizden, ulaşım ve konaklama ihtiyacınıza, hatta oturum kaydınızın tamamlanmasına kadar her anlamda size yardımcı olur.  " %}
                                </p>
                            </li>
                        </ul>
                        <a class="btn btn-light effect btn-md" {% if "candidate" in request.path %}href="{% url 'about' %}"{%else%}href="{% url 'candidate_about' %}"{%endif%}">{% translate "Hakkımızda" %}</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    {% if services %}
    <div class="services-area bg-gray default-padding bottom-less">
        <!-- Shape -->
        <div class="right-shape">
            <img src="/static/img/shape/9-red.png" alt="Shape">
        </div>
        <!-- Shape -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h2>{% translate "Türfa‘nın hizmet verdiği meslek grupları" %}</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="services-items">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        {% translate "Türfa, Almanya Federal Cumhuriyeti’nin vize koşullarını baz alarak çalıştığı grupları ikiye ayırmıştır.  Lütfen aşağıdaki seçenekler arasından kendi çalışma grubunuzu seçiniz." %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="services-items">
                <div class="row">
                    {% for item in services %}
                        <!-- Single Item -->
                        <div class="col-lg-6 col-md-6 single-item">
                            <div class="item">
                                <div class="info">
                                    <i class="flaticon-money"></i>
                                    <h4>{% if "tr" in request.path %}{{item.title|safe}}{% else %} {{item.title_de|safe}} {% endif %}</h4>
                                    <p>
                                        {% if "tr" in request.path %}{{item.text_short|safe}} {% else %}{{item.text_short_de|safe}} {% endif %}
                                    </p>
                                    <div class="bottom">
                                        <span>01</span>
                                        <a {% if "candidate" in request.path %} href="{% url 'candidate_services_detail' item.slug %}"{% endif %}>Daha fazlası</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        
    </div>
    {% endif %}
    
    {% if blog %}
    <!-- Start Blog 
    ============================================= -->
    <div class="blog-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>{% translate "Blog" %}</h4>
                        {% comment %} <h2>Latest News & Articles</h2> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    {% for item in blog %}
                        
                        <!-- Single Item -->
                        <div class="single-item col-lg-4 col-md-6">
                            <div class="item">
                                <div class="thumb">
                                    {% if item.img_url %}<img src="{{item.img_url.url}}" alt="Thumb">{%endif%}
                                    <div class="date">{{ item.created_at }}</div>
                                </div>

                                <div class="info">
                                    <div class="meta">
                                    <ul>
                                        <li>
                                            <a>{{item.writer}}</a>
                                        </li>
                                    </ul>
                                    </div>
                                    <h4>
                                        <a {% if "candidate" in request.path %} href="{% url 'candidate_blog_detail' item.slug %}"{% else %} href="{% url 'blog_detail' item.slug %}"{% endif %}>
                                            {% if "tr" in request.path %}{{item.title|safe}}{% else %}{{item.title_de|safe}}{% endif %}
                                        </a>
                                    </h4>
                                    <p>
                                        {% if "tr" in request.path %}{{item.text_short|safe}}{% else %}{{item.text_short_de|safe}}{% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        {% endfor %}    
                </div>
            </div>
        </div>
        
    </div>
    <!-- End Blog Area --> 
    {% endif %}

{% endblock %}
{% block 'scripts' %}
<script type="text/javascript">
    $(window).on("load", function(e){
        var window_param = window.location.search
        if(window_param === "?cookieset=1"){
            $("#popup").modal('hide');
        }else{
            $("#popup").modal('show');
        }
    });
</script>
{% endblock  %}
