{% extends 'base.html' %} 
{% load static %} 
{% block 'content' %}
{% load i18n %}
{% load crispy_forms_tags %}          

<div class="login-area bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST" id="login-form" class="white-popup-block">
                    {% csrf_token %}
                    {{ password_reset_form|crispy }}  
                    <div class="row align-center">
                        <div class="col-lg-4 login-social">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="col-lg-8 login-custom">
                            <h4>{% translate "Giriş" %}</h4>
                            {% if error %}
                                <p class="colorRed">{{error}}</p>
                            {% endif %}
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="{% translate "Kullanıcı Adı(E-posta)*" %}" type="text" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <button type="submit">
                                        {% translate "Gönder" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock 'content' %}