{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block 'content' %}
<!-- Start Banner 
    ============================================= -->
    <div class="banner-area inc-video top-pad-50">
        
        <div id="bootcarousel" class="carousel text-light slide carousel-fade animate_text" data-ride="carousel">

            <!-- Indicators for slides -->
            <!--<div class="carousel-indicator">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="carousel-indicators right">
                                <li data-target="#bootcarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#bootcarousel" data-slide-to="1"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>-->

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item bg-cover active" style="background-image: url({% static 'img/promo.jpg' %}); background-position: left top !important;">
                    <div class="box-table">
                        <div class="box-cell shadow dark">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="content">
                                            <h2 data-animation="animated slideInRight">{% translate "Şirketiniz için <span>Türk profesyoneller</span> buluyoruz" %}</h2>
                                            <br>
                                            <h3><span>{% translate "Ücretsiz danışmanlık" %}</span></h3>
                                            <a data-animation="animated zoomInUp" class="btn btn-theme effect btn-md" href="{% url 'contact' %}">{% translate "Bize ulaşın" %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Shape -->
                        <!--<div class="shape-right-bottom"  data-animation="animated slideInUp" style="background-image: url(assets/img/shape/banner-right-shape.png);"></div>-->
                        <!-- Shape -->
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

        </div>
    </div>
    <!-- End Banner -->

    <!-- Star Features Area
    ============================================= -->
    <div class="features-area default-padding">
        <div class="container-full">
            <div class="features-content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="site-heading text-center">
                            <h4>{% translate "Genel Bakış" %}</h4>
                            <h2>{% translate "Yurtdışından işçi alımında en önemli üç köşe taşı" %}</h2>
                            <div class="devider"></div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <i class="flaticon-speech-bubble"></i>
                            <div class="top">
                                <span>01</span>
                                <h4>{% translate "Yurtdışından adayları işe almayı bu kadar cazip kılan nedir?" %}</h4>
                            </div>
                            <p>
                                {% translate " Almanya'daki kalifiye eleman açığı yurtiçinde çözülemiyor. Avusturya ya da İsviçre gibi Almanca konuşulan diğer ülkelerde de durum pek iyi değil. Bu ülkelerde halihazırda 86.000'den fazla hemşirelik personeli açığı var. Bu nedenle talebi karşılamak için kendi arka bahçemizin ötesine bakmalıyız. " %}
                            </p>
                            <p>
                                {% translate "  Türkiye'den iyi eğitimli doktorlar, personel açığını kapatmak için özellikle uygundur. Genç yaştalar ve genellikle aileleri ya da arkadaşları aracılığıyla Almanya ile bir bağları var. Öngörülebilir bir yaşam ve uzun vadeli bir iş ilişkisi istiyorlar. Bunun için Almanya'ya gelmeye motive oluyorlar." %}
                            </p>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <i class="flaticon-label"></i>
                            <div class="top">
                                <span>02</span>
                                <h4>{% translate "Bürokrasi çok karmaşık değil mi?" %}</h4>
                            </div>
                            <p>
                                {% translate " Üçüncü bir ülkeden gelen vasıflı bir işçi olarak Almanya'da çalışmak için aşılması gereken bir dizi bürokratik engel var. Alman devleti bu süreçte eğitimin karşılaştırılabilirliğini sağlamaya çalışıyor. İlk bakışta bu süreç bunaltıcı görünüyor ve birçok işvereni korkutuyor. Türfa, sürecin sorunsuz işlemesini sağlayarak hayatınızı kolaylaştırıyor. Temel yetkinliklerimizden biri, Türk tıp uzmanlarının istihdamı için bürokratik prosedürleri ele alma konusundaki uzmanlığımızla sizi baştan sona desteklemektir. Prosedürler ortalama 6 ay sürmektedir. " %}
                            </p>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <i class="flaticon-file"></i>
                            <div class="top">
                                <span>03</span>
                                <h4>{% translate "Bakım yerleştirmesinde başarılı işe alım nasıl gerçekleşir? " %}</h4>
                            </div>
                            <p>
                                {% translate "Organizasyonel desteğin yanı sıra, yabancı çalışanlara Almanya'ya varışlarından önce ve sonra eşlik etmek başarılı bir entegrasyon için ön koşuldur. Türfa bu nedenle ilgili tüm taraflara sürekli destek sunmaktadır. " %}
                            </p>
                            <a href="#"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                    <!-- Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Area -->

    <!-- Star About Area
    ============================================= -->
    <div class="about-area bg-dark overflow-hidden text-light relative">
        <!-- Fixed Shape -->
        <div class="fixed-shape" style="background-image: url({% static 'img/shape/8.png' %});"></div>
        <!-- End Fixed Shape -->
        <div class="container">
            <div class="about-items">
                <div class="row">
                    <div class="col-lg-6 thumb order-lg-last" style="background-image: url({% static 'img/about/about.jpg' %});">
                        <div class="successr-ate">
                            <div class="icon">
                                <i class="flaticon-target"></i>
                            </div>
                            <div class="content text-center">
                                <span>{% translate "Firmanız için" %}</span>
                                <h3 class="mb-0">{% translate "en uygun adayları" %}</h3>
                                <span>{% translate "buluyoruz" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 info">
                        <h4>{% translate "Avantajlarımız" %}</h4>
                        <h2>{% translate "Türfa ne iş yapar?" %}</h2>
                        <p>
                            {% translate "'Türfa' Türk vasıflı işçi anlamına gelmektedir. Genç bir şirket olarak, Almanya'da kalıcı istihdam için Türkiye'den yüksek nitelikli işçileri işe almayı ve yerleştirmeyi işimiz haline getirdik. Hastaneleri kısa ve uzun vadeli personel açıklarını kapatma konusunda destekliyoruz. Bunu yaparken fizyoterapistlerden hemşirelere, geriatri hemşirelerinden cerrahi ve anestezi asistanlarına, uzman ve asistan doktorlara kadar tüm yelpazeyi kapsıyoruz. " %}    
                        </p>
                        <p>
                            {% translate "Verimli bir kalıcı kadroya giden yolda, işe alım sürecinde aşağıdaki hizmetlerle size destek oluyoruz: " %}
                        </p>
                        <span>
                            {% translate "İşe alım aşamasında:" %}
                        </span>
                        <ul>
                            <li>
                              <p>
                                {% translate "Almanya ve Türkiye'de uygun Türk profesyonellerin işe alınması " %}
                              </p>
                            </li>
                            <li>
                              <p>
                                {% translate "Dil testini de içeren bir değerlendirme merkezi çerçevesinde adayların taranması ve yetenek testi " %}
                              </p>
                            </li>
                            <li>
                              <p>{% translate "Video konferans yoluyla veya Türkiye'de yerinde mülakatların düzenlenmesi ve yürütülmesi " %}</p>
                            </li>
                            <li>
                              <p>
                                {% translate "Tüm işe alım sürecine deneyimli çevirmenlerin eşlik etmesi " %}
                              </p>
                            </li>
                        </ul>
                        <span>
                            {% translate "Aday seçiminden sonra ve iş başlamadan önce: " %}
                        </span>
                        <ul>
                            <li>
                            <p>
                                {% translate "İkamet, istihdam ve konaklama ile ilgili gerekli tüm formalitelerin profesyonelce ele alınması " %}
                            </p>
                            </li>
                            <li>
                            <p>
                                {% translate "Gelecekteki işverenle işbirliği içinde hızlandırılmış prosedür dahil olmak üzere mesleki denklik konusunda destek " %}
                            </p>
                            </li>
                            <li>
                            <p>{% translate "Konaklama yeri bulma konusunda yardım" %}</p>
                            </li>
                            <li>
                            <p>
                                {% translate "Günlük çalışma hayatına hazırlık amacıyla işe özel, tıbbi içeriklere odaklanan Almanca dil kursları düzenlemek " %}
                            </p>
                            </li>
                        </ul>
                        <span>
                            {% translate "İşe başladıktan sonra: " %}
                        </span>
                        <ul>
                            <li>
                            <p>
                                {% translate "İlgili mesleki deneyime sahip çevirmenler aracılığıyla başlangıç aşamasında Türk profesyonellere destek " %}
                            </p>
                            </li>
                            <li>
                            <p>
                                {% translate "Profesyoneller için profesyonel ve özel entegrasyon desteği " %}
                            </p>
                            </li>
                        </ul>
                            <a class="btn btn-light effect btn-md" href="{% url 'about' %}">{% translate "Daha fazlası" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Star Services Area
    ============================================= -->
    <div class="services-area bg-gray default-padding bottom-less">
        <!-- Shape -->
        <div class="right-shape">
            <img src="{% static 'img/shape/9-red.png' %}" alt="Shape">
        </div>
        <!-- Shape -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>{% translate "Bizi Tanıyın" %}</h4>
                        <h2>{% translate "Tıp uzmanları ile ekibinizi güçlendirin" %}</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="services-items">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            {% translate " Almanya'da yıllardır kalifiye eleman sıkıntısı yaşanıyor. Bu durum özellikle tıp sektörünü zorluyor ve daha da kötüleşmesi bekleniyor. Güncel istatistiklere göre, yaklaşık 60.000 boş pozisyonla, Alman bakım tesislerindeki pozisyonların neredeyse %4'ü doldurulmamış durumda. Bunun nedenleri arasında yüksek iş yükü, sık fazla mesai ve düşük ücret yer alıyor." %}
                        </p>
                        <p>
                            {% translate "Buna karşılık, 60.000'den fazla Türk bakım çalışanı devam eden ekonomik kriz nedeniyle iş arıyor, ancak kendi ülkelerinde bulamıyor. Yurtdışından sağlık profesyonelleri için profesyonel bir işe alım ajansı olarak Türfa, hem Almanya'daki işverenlere hem de Türkiye'deki çalışanlara fayda sağlayan bir çözüm sunuyor. Yüksek nitelikli Türk doktor ve hemşirelerden oluşan ağımızla, sizin için uygun adayları işe alarak ve her iki tarafı da tüm bürokratik zorluklarda destekleyerek ekibinizi güçlendiriyoruz. Uzun vadeli ve başarılı bir istihdam ilişkisi için mümkün olan en iyi temeli oluşturmak amacıyla, hizmetlerimiz yalnızca profesyonellerin işe alınmasının ötesine geçmektedir. Türfa, çalışanların hızlı bir şekilde ayaklarının yere basmasını ve her şeyin sorunsuz bir şekilde yürümesini sağlamak için, Almanya'daki ilk yıllarında hem özel hem de profesyonel yaşamlarına entegrasyon ve resmi makamlarla ilgili konularda onlara eşlik eder. " %}    
                        </p>
                        <p>
                            <strong>
                                {% translate "Yurtdışından işçi alımında en önemli üç köşe taşı" %}
                            </strong>
                        </p>
                        <ul>
                            <li>
                                <p>
                                    <b>{% translate "Yurtdışından adayları işe almayı bu kadar cazip kılan nedir?" %}</b> <br />
                                    {% translate " Almanya'daki kalifiye eleman açığı yurtiçinde çözülemiyor. Avusturya ya da İsviçre gibi Almanca konuşulan diğer ülkelerde de durum pek iyi değil. Bu ülkelerde halihazırda 86.000'den fazla hemşirelik personeli açığı var. Bu nedenle talebi karşılamak için kendi arka bahçemizin ötesine bakmalıyız. " %}    
                                </p>
                                <p>
                                    {% translate "Türkiye'den iyi eğitimli doktorlar, personel açığını kapatmak için özellikle uygundur. Genç yaştalar ve genellikle aileleri ya da arkadaşları aracılığıyla Almanya ile bir bağları var. Öngörülebilir bir yaşam ve uzun vadeli bir iş ilişkisi istiyorlar. Bunun için Almanya'ya gelmeye motive oluyorlar. " %}
                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>{% translate "Bürokrasi çok karmaşık değil mi?" %}</b> <br />
                                    {% translate "Üçüncü bir ülkeden gelen vasıflı bir işçi olarak Almanya'da çalışmak için aşılması gereken bir dizi bürokratik engel var. Alman devleti bu süreçte eğitimin karşılaştırılabilirliğini sağlamaya çalışıyor. İlk bakışta bu süreç bunaltıcı görünüyor ve birçok işvereni korkutuyor. Türfa, sürecin sorunsuz işlemesini sağlayarak hayatınızı kolaylaştırıyor. Temel yetkinliklerimizden biri, Türk tıp uzmanlarının istihdamı için bürokratik prosedürleri ele alma konusundaki uzmanlığımızla sizi baştan sona desteklemektir. Prosedürler ortalama 6 ay sürmektedir." %}    
                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>{% translate "Bakım yerleştirmesinde başarılı işe alım nasıl gerçekleşir?" %}</b><br />
                                    {% translate " Organizasyonel desteğin yanı sıra, yabancı çalışanlara Almanya'ya varışlarından önce ve sonra eşlik etmek başarılı bir entegrasyon için ön koşuldur. Türfa bu nedenle ilgili tüm taraflara sürekli destek sunmaktadır." %}    
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Area -->

    {% if services %}
        <!-- Star Services Area
    ============================================= -->
    <div class="services-area bg-gray default-padding bottom-less">
        <!-- Shape -->
        <div class="right-shape">
            <img src="{% static 'img/shape/9-red.png' %}" alt="Shape">
        </div>
        <!-- Shape -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h2>{% translate "Türfa sizin için doğru çözüme sahiptir! " %}</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="services-items">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        {% translate "Personel ihtiyacı olan Alman klinikleri ile yüksek nitelikli Türk profesyonelleri bir araya getirmek bizim gücümüzdür. Size sunduğumuz yabancı adaylar eşdeğer, tanınmış niteliklere sahiptir. En azından hemşirelik eğitimini tamamlamış ve Telc B2 Almanca sertifikasına sahiptirler. Bu, dili bağımsız olarak kullanabildiklerini ve açık standart dilde bir konuşmanın ana noktalarını anlayabildiklerini belgelemektedir. " %}    
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="services-items">
                <div class="row">
                    {% for item in services %}
                    <!-- Single Item -->
                    <div class="col-lg-6 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <i class="flaticon-money"></i>
                                <h4>
                                    {% if "tr" in request.path %}
                                    {{item.title|safe}}
                                    {% else %}
                                    {{item.title_de|safe}}
                                    {% endif %}
                                </h4>
                                <p>
                                    {% if "tr" in request.path %}
                                    {{item.text_short|safe}}
                                    {% else %}
                                    {{item.text_short_de|safe}}
                                    {% endif %}
                                </p>
                                <div class="bottom">
                                    <span>01</span>
                                    <a {% if "candidate" in request.path %}href="{% url 'candidate_services_detail' item.slug %}"{% else %}{% url 'services_detail' item.slug %}{% endif %} download>{% translate "Daha fazla" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        
    </div>
    <!-- End Services Area -->
    {% endif %}

{% endblock %}
{% block 'scripts' %}
<script type="text/javascript">
    $(window).on("load", function(e){
        var window_param = window.location.search
        if(window_param === "?cookieset=1"){
            $("#popup").modal('hide');
        }else{
            $("#popup").modal('show');
        }
    });
</script>
{% endblock  %}