{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block 'content' %}

<!-- Start Breadcrumb 
============================================= -->
<div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'img/dienstleistungen.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>{% translate "Hizmetlerimiz" %}</h1>
                <ul class="breadcrumb">
                    <li><a {% if "candidate" in request.path %} href="{% url 'candidate_home' %}"{% else %}href="{% url 'home' %}"{% endif %}><i class="fas fa-home"></i> {% translate "Ana Sayfa" %}</a></li>
                    <li class="active">{% translate "Hizmetlerimiz" %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

{% if services %}
    <!-- Star Services Details Area
============================================= -->
<div class="services-details-area default-padding">
    <div class="container">
        <div class="services-details-items">
            <div class="row">
                
                <div class="col-lg-8 services-single-content">
                    <img class="mb-2" src="{{ services.img_url.url }}" alt="Thumb">
                    {% if "tr" in request.path %}{{ services.text | safe }}{% else %}{{ services.text_de | safe }}{% endif %}
                </div>

                <div class="col-lg-4 services-sidebar">
                    <!-- End Single Widget -->
                    <div class="single-widget quick-contact text-light" style="background-image: url(assets/img/800x800.png);">
                        <div class="content">
                            <i class="fas fa-phone"></i>
                            <h4>{% translate "Sorularnız için bize ulaşın" %}</h4>
                            <p>
                                {% translate "Ücretsiz danışmanlık" %}
                            </p>
                            <h2>{{setting_item.phone}}</h2>
                        </div>
                    </div>
                    {% if services.pdf %}
                        <!-- Single Widget -->
                        <div class="single-widget brochure">
                            <h4 class="widget-title">{% translate "Broşür" %}</h4>
                            <ul>
                                <li><a href="{{services.pdf.url}}" download><i class="fas fa-file-pdf"></i> {% translate "Broşürü İndir" %} </a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Services Details Area -->
{% endif %}
{% endblock %}