{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}
{% block 'content' %}
<div
  class="breadcrumb-area text-center shadow dark text-light bg-cover"
  style="background-image: url(assets/img/2440x1578.png)"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>Applikationen</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="active">Applikationen</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="login-area bg-gray default-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 {% if not candidate %} text-center {% endif %}">
        <ul class="nav nav-tabs usTabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#complete_candidate" role="tab" aria-controls="home" aria-selected="false">{% translate 'Tüm Adaylar' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% translate 'Seçilenler' %}</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="complete_candidate" role="tabpanel" aria-labelledby="home-tab">
            <form method="post" class="white-popup-block" id="candidate">
              {% csrf_token %}
              {% if status %}
              <div class="table-wrap">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>{% translate "" %}</th>
                      <th>{% translate "Ad Soyad" %} </th>
                      <th>{% translate "Doğum Tarihi" %}</th>
                      <th>{% translate "Almanca" %}</th>
                      <th>{% translate "CV" %}</th>
                      <th>{% translate "Durum" %}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for s in status %}
                    {% if s.status == "1" %}
                    <tr class="alert" role="alert">
                      <td>{{s.candidates.id}}</td>
                      <td>{{s.candidates.name}} {{s.candidates.surname}}</td>
                      
                      <td>{{ s.candidates.birthday }}</td>
                      <td>{% if s.candidates.german %}A{{s.candidates.german}}{% endif %}</td>
                      <td>
                        <a
                          href="{{ s.cv.url }}"
                          class="__cf_email__"
                          download
                          >[herunterladen]</a
                        >
                      </td>
                      <td> 
                        <input type="hidden" name="id" value="{{s.pk}}">
                        <select class="form-control" name="status" id="id_status">
                          <option value="1">Aday</option>
                          <option value="2" {% if s.status == "2" %}selected{% endif %}>Seçildi</option>
                          <option value="3">Tamamlandı</option>
                        </select>
                      </td>
                      <td>
                        <div class="form-group">
                          <button style="margin-top: 0; height: 30px; font-size: 12px; padding: 0 10px; line-height: 30px" type="submit" name="submit" id="submit">
                            {% translate "Kaydet" %}
                          </button>
                        </div>
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
              <h2>Noch nicht hochgeladen</h2>
              {% endif %} 
            </form>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form method="post" class="white-popup-block" id="candidate">
              {% csrf_token %}
              {% if status %}
              <div class="table-wrap">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>{% translate "" %}</th>
                      <th>{% translate "Ad Soyad" %} </th>
                      <th>{% translate "Doğum Tarihi" %}</th>
                      <th>{% translate "Almanca" %}</th>
                      <th>{% translate "CV" %}</th>
                      <th>{% translate "Durum" %}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for s in status %}
                      {% if s.status == "2" %}
                      <tr class="alert" role="alert">
                        <td>{{s.candidates.id}}</td>
                        <td>{{s.candidates.name}} {{s.candidates.surname}}</td>
                        
                        <td>{{ s.candidates.birthday }}</td>
                        <td>{% if s.candidates.german %}{{ s.candidates.german }} {% else %}{% translate "Bilinmiyor" %}{% endif %}</td>
                        <td>
                          <a
                            href="{{ s.cv.url }}"
                            class="__cf_email__"
                            download
                            >[herunterladen]</a
                          >
                        </td>
                        <td> 
                          <input type="hidden" name="id" value="{{s.pk}}">
                          <select class="form-control" name="status" id="id_status">
                            <option value="1">Aday</option>
                            <option value="2" {% if s.status == "2" %}selected{% endif %}>Seçildi</option>
                            <option value="3">Tamamlandı</option>
                          </select>
                        </td>
                        <td>
                          <div class="form-group">
                            <button style="margin-top: 0; height: 30px; font-size: 12px; padding: 0 10px; line-height: 30px" type="submit" name="submit" id="submit">
                              {% translate "Kaydet" %}
                            </button>
                          </div>
                        </td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
              <h2>Noch nicht hochgeladen</h2>
              {% endif %} 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock 'content' %}
