{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}

{% block 'content' %}
 <!-- End Breadcrumb -->
     <!-- Start Contact Area 
    ============================================= -->
    <div class="contact-area default-padding bg-theme inc-shape extra-margin">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-12 text-center info">
                    <div class="content">
                        <h2>{% translate "Başarılı" %}</h2>
                        <p>
                           {% translate "Şifreniz değiştirilmiştir." %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
    <script>
        setTimeout(function() {
            window.location.replace("/")
        }, 5000)
    </script>
{% endblock 'content' %}