<!-- commons/change-password.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block pageTitle %} {% translate "Şifremi unuttum" %} {% endblock title %}

{% block content %} 
    <h2>{% translate "Şifremi unuttum" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a {% if "candidate" in request.path %} href="{% url 'candidate_home' %}" {% else %} href="{% url 'home' %}"{% endif %}>Back</a>
        <button type="submit">Submit</button>
    </form>
{% endblock content %}